*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
button:hover
{
    cursor: pointer;
}

.loading-message
{
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    width: 20%;
    padding: 1%;
    font-size: 100%;
    position: absolute;
    top:25%;
    left: 40%;
}


.wrapper
{
    width: 60%;
    height: 50vh;
    border: 1px solid black;
    margin: 5% auto;

}

.main-table
{
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 120%;
}
.table-header td
{
    border: 1px solid black;
}

.table-item:hover
{
    cursor: pointer;
}
table
{
    user-select: none;
}

#element-id
{
    display: none;
}

.edit-form form
{
    border:1px solid black;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    padding: 2%;
}
.edit-form form h2
{
    color: white;
    margin: -2% 0 5% 0;
}
.edit-form p
{
    color: white;
}
.edit-form form > *
{
    margin-bottom: 3%;
}
.edit-form input
{
    
    font-size: 100%;
}
.edit-form-buttons
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.edit-form-buttons > * 
{
    width: 35%;
    padding: 2%;
    text-align: center;
}
.edit-form form > button
{
    width: 80%;
    padding: 3%;
    margin-top: 10%;
}
.edit-form form > button:hover
{
    background-color: rgb(255, 0, 0);
    color: white;
}

.auth
{
    border: 1px solid #000;
    position: absolute;
    top: 40vh;
    left: 80vh;
    height: 15%;
}
.auth > .auth-choose-method
{
    width: 100%;
    display: flex;
}

.auth > .auth-choose-method *
{
    border: 0;
    width: 50%;
}
.auth > .auth-choose-method *:hover
{
    border-bottom: 1px solid black;
}

.auth > .auth-choose-method .chosen
{
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid black;
}
.login-panel, .reg-panel
{
    height: 100%;
}
.auth-panel
{
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100%;
    width: 100%;
}
.reg-panel
{
    display: none;
}

